[Unit]
Description=Karellen GitHub Actions Runner Configurator
Before=karellen-gha-runner.service

[Service]
Type=oneshot
RemainAfterExit=true
PassEnvironment=RUNNER_MANUALLY_TRAP_SIG ACTIONS_RUNNER_PRINT_LOG_TO_STDOUT
PassEnvironment=REGISTRATION_TOKEN
WorkingDirectory=/home/runner
User=runner
Group=runner
ExecStart=/home/runner/config.sh --url https://github.com/karellen --token ${REGISTRATION_TOKEN} --ephemeral --disableupdate --unattended --replace
TimeoutStartSec=10
TimeoutStopSec=10
StartLimitInterval=0
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=karellen-gha-runner.service
